Ventilatore/VentilatoreWebClient/xml-resources/web-service-references/VentilatoreEJB/wsdl/localhost_8080/VentilatoreEJBService/VentilatoreEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://ventilatore/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ventilatore/">

<xs:element name="aggiungiVentilatore" type="tns:aggiungiVentilatore"/>

<xs:element name="aggiungiVentilatoreResponse" type="tns:aggiungiVentilatoreResponse"/>

<xs:element name="eliminaVentilatore" type="tns:eliminaVentilatore"/>

<xs:element name="eliminaVentilatoreResponse" type="tns:eliminaVentilatoreResponse"/>

<xs:element name="getById" type="tns:getById"/>

<xs:element name="getByIdResponse" type="tns:getByIdResponse"/>

<xs:element name="getVentilatori" type="tns:getVentilatori"/>

<xs:element name="getVentilatoriResponse" type="tns:getVentilatoriResponse"/>

<xs:element name="modificaVentilatore" type="tns:modificaVentilatore"/>

<xs:element name="modificaVentilatoreResponse" type="tns:modificaVentilatoreResponse"/>

<xs:element name="printByCountry" type="tns:printByCountry"/>

<xs:element name="printByCountryResponse" type="tns:printByCountryResponse"/>

<xs:element name="printQuickFan" type="tns:printQuickFan"/>

<xs:element name="printQuickFanResponse" type="tns:printQuickFanResponse"/>

<xs:complexType name="printByCountry">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByCountryResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventilatore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ventilatore">
<xs:sequence>
<xs:element name="giriMinuto" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="modello" type="xs:string" minOccurs="0"/>
<xs:element name="nazione" type="xs:string" minOccurs="0"/>
<xs:element name="rumore" type="xs:int"/>
<xs:element name="venduti" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiVentilatore">
<xs:sequence>
<xs:element name="arg0" type="tns:ventilatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiVentilatoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminaVentilatore">
<xs:sequence>
<xs:element name="arg0" type="tns:ventilatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaVentilatoreResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventilatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printQuickFan">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printQuickFanResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventilatore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVentilatori">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVentilatoriResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventilatore" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaVentilatore">
<xs:sequence>
<xs:element name="arg0" type="tns:ventilatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaVentilatoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:ventilatore" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>