Ventilatore/VentilatoreWebClient/xml-resources/web-service-references/VentilatoreEJB/wsdl/localhost_8080/VentilatoreEJBService/VentilatoreEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ventilatore/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ventilatore/" name="VentilatoreEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ventilatore/" schemaLocation="http://localhost:8080/VentilatoreEJBService/VentilatoreEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="printQuickFan">
<part name="parameters" element="tns:printQuickFan"/>
</message>
<message name="printQuickFanResponse">
<part name="parameters" element="tns:printQuickFanResponse"/>
</message>
<message name="getVentilatori">
<part name="parameters" element="tns:getVentilatori"/>
</message>
<message name="getVentilatoriResponse">
<part name="parameters" element="tns:getVentilatoriResponse"/>
</message>
<message name="printByCountry">
<part name="parameters" element="tns:printByCountry"/>
</message>
<message name="printByCountryResponse">
<part name="parameters" element="tns:printByCountryResponse"/>
</message>
<message name="aggiungiVentilatore">
<part name="parameters" element="tns:aggiungiVentilatore"/>
</message>
<message name="aggiungiVentilatoreResponse">
<part name="parameters" element="tns:aggiungiVentilatoreResponse"/>
</message>
<message name="modificaVentilatore">
<part name="parameters" element="tns:modificaVentilatore"/>
</message>
<message name="modificaVentilatoreResponse">
<part name="parameters" element="tns:modificaVentilatoreResponse"/>
</message>
<message name="eliminaVentilatore">
<part name="parameters" element="tns:eliminaVentilatore"/>
</message>
<message name="eliminaVentilatoreResponse">
<part name="parameters" element="tns:eliminaVentilatoreResponse"/>
</message>
<portType name="VentilatoreEJB">
<operation name="getById">
<input wsam:Action="http://ventilatore/VentilatoreEJB/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="printQuickFan">
<input wsam:Action="http://ventilatore/VentilatoreEJB/printQuickFanRequest" message="tns:printQuickFan"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/printQuickFanResponse" message="tns:printQuickFanResponse"/>
</operation>
<operation name="getVentilatori">
<input wsam:Action="http://ventilatore/VentilatoreEJB/getVentilatoriRequest" message="tns:getVentilatori"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/getVentilatoriResponse" message="tns:getVentilatoriResponse"/>
</operation>
<operation name="printByCountry">
<input wsam:Action="http://ventilatore/VentilatoreEJB/printByCountryRequest" message="tns:printByCountry"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/printByCountryResponse" message="tns:printByCountryResponse"/>
</operation>
<operation name="aggiungiVentilatore">
<input wsam:Action="http://ventilatore/VentilatoreEJB/aggiungiVentilatoreRequest" message="tns:aggiungiVentilatore"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/aggiungiVentilatoreResponse" message="tns:aggiungiVentilatoreResponse"/>
</operation>
<operation name="modificaVentilatore">
<input wsam:Action="http://ventilatore/VentilatoreEJB/modificaVentilatoreRequest" message="tns:modificaVentilatore"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/modificaVentilatoreResponse" message="tns:modificaVentilatoreResponse"/>
</operation>
<operation name="eliminaVentilatore">
<input wsam:Action="http://ventilatore/VentilatoreEJB/eliminaVentilatoreRequest" message="tns:eliminaVentilatore"/>
<output wsam:Action="http://ventilatore/VentilatoreEJB/eliminaVentilatoreResponse" message="tns:eliminaVentilatoreResponse"/>
</operation>
</portType>
<binding name="VentilatoreEJBPortBinding" type="tns:VentilatoreEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printQuickFan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVentilatori">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByCountry">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiVentilatore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaVentilatore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaVentilatore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VentilatoreEJBService">
<port name="VentilatoreEJBPort" binding="tns:VentilatoreEJBPortBinding">
<soap:address location="http://localhost:8080/VentilatoreEJBService/VentilatoreEJB"/>
</port>
</service>
</definitions>