Auto/AutoWebClient/xml-resources/web-service-references/RicambioEJB/wsdl/localhost_8080/RicambioEJBService/RicambioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ricambi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ricambi/" name="RicambioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ricambi/" schemaLocation="http://localhost:8080/RicambioEJBService/RicambioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getRicambiPerCategoria">
<part name="parameters" element="tns:getRicambiPerCategoria"/>
</message>
<message name="getRicambiPerCategoriaResponse">
<part name="parameters" element="tns:getRicambiPerCategoriaResponse"/>
</message>
<message name="getRicambiPocoDisponibili">
<part name="parameters" element="tns:getRicambiPocoDisponibili"/>
</message>
<message name="getRicambiPocoDisponibiliResponse">
<part name="parameters" element="tns:getRicambiPocoDisponibiliResponse"/>
</message>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="eliminaRicambio">
<part name="parameters" element="tns:eliminaRicambio"/>
</message>
<message name="eliminaRicambioResponse">
<part name="parameters" element="tns:eliminaRicambioResponse"/>
</message>
<message name="getRicambi">
<part name="parameters" element="tns:getRicambi"/>
</message>
<message name="getRicambiResponse">
<part name="parameters" element="tns:getRicambiResponse"/>
</message>
<message name="aggiungiRicambio">
<part name="parameters" element="tns:aggiungiRicambio"/>
</message>
<message name="aggiungiRicambioResponse">
<part name="parameters" element="tns:aggiungiRicambioResponse"/>
</message>
<message name="modificaRicambio">
<part name="parameters" element="tns:modificaRicambio"/>
</message>
<message name="modificaRicambioResponse">
<part name="parameters" element="tns:modificaRicambioResponse"/>
</message>
<portType name="RicambioEJB">
<operation name="getRicambiPerCategoria">
<input wsam:Action="http://ricambi/RicambioEJB/getRicambiPerCategoriaRequest" message="tns:getRicambiPerCategoria"/>
<output wsam:Action="http://ricambi/RicambioEJB/getRicambiPerCategoriaResponse" message="tns:getRicambiPerCategoriaResponse"/>
</operation>
<operation name="getRicambiPocoDisponibili">
<input wsam:Action="http://ricambi/RicambioEJB/getRicambiPocoDisponibiliRequest" message="tns:getRicambiPocoDisponibili"/>
<output wsam:Action="http://ricambi/RicambioEJB/getRicambiPocoDisponibiliResponse" message="tns:getRicambiPocoDisponibiliResponse"/>
</operation>
<operation name="cercaPerId">
<input wsam:Action="http://ricambi/RicambioEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://ricambi/RicambioEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="eliminaRicambio">
<input wsam:Action="http://ricambi/RicambioEJB/eliminaRicambioRequest" message="tns:eliminaRicambio"/>
<output wsam:Action="http://ricambi/RicambioEJB/eliminaRicambioResponse" message="tns:eliminaRicambioResponse"/>
</operation>
<operation name="getRicambi">
<input wsam:Action="http://ricambi/RicambioEJB/getRicambiRequest" message="tns:getRicambi"/>
<output wsam:Action="http://ricambi/RicambioEJB/getRicambiResponse" message="tns:getRicambiResponse"/>
</operation>
<operation name="aggiungiRicambio">
<input wsam:Action="http://ricambi/RicambioEJB/aggiungiRicambioRequest" message="tns:aggiungiRicambio"/>
<output wsam:Action="http://ricambi/RicambioEJB/aggiungiRicambioResponse" message="tns:aggiungiRicambioResponse"/>
</operation>
<operation name="modificaRicambio">
<input wsam:Action="http://ricambi/RicambioEJB/modificaRicambioRequest" message="tns:modificaRicambio"/>
<output wsam:Action="http://ricambi/RicambioEJB/modificaRicambioResponse" message="tns:modificaRicambioResponse"/>
</operation>
</portType>
<binding name="RicambioEJBPortBinding" type="tns:RicambioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getRicambiPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRicambiPocoDisponibili">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaRicambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRicambi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiRicambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaRicambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RicambioEJBService">
<port name="RicambioEJBPort" binding="tns:RicambioEJBPortBinding">
<soap:address location="http://localhost:8080/RicambioEJBService/RicambioEJB"/>
</port>
</service>
</definitions>