Scacchi/ScacchiWebClient/xml-resources/web-service-references/PartitaEJB/wsdl/localhost_8080/PartitaEJBService/PartitaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://scacchi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://scacchi/" name="PartitaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://scacchi/" schemaLocation="http://localhost:8080/PartitaEJBService/PartitaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="partiteByGiocatore">
<part name="parameters" element="tns:partiteByGiocatore"/>
</message>
<message name="partiteByGiocatoreResponse">
<part name="parameters" element="tns:partiteByGiocatoreResponse"/>
</message>
<message name="partiteByRisultato">
<part name="parameters" element="tns:partiteByRisultato"/>
</message>
<message name="partiteByRisultatoResponse">
<part name="parameters" element="tns:partiteByRisultatoResponse"/>
</message>
<message name="partiteRatingMaggiore">
<part name="parameters" element="tns:partiteRatingMaggiore"/>
</message>
<message name="partiteRatingMaggioreResponse">
<part name="parameters" element="tns:partiteRatingMaggioreResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="modificaPartita">
<part name="parameters" element="tns:modificaPartita"/>
</message>
<message name="modificaPartitaResponse">
<part name="parameters" element="tns:modificaPartitaResponse"/>
</message>
<message name="aggiungiPartita">
<part name="parameters" element="tns:aggiungiPartita"/>
</message>
<message name="aggiungiPartitaResponse">
<part name="parameters" element="tns:aggiungiPartitaResponse"/>
</message>
<message name="partiteByTipo">
<part name="parameters" element="tns:partiteByTipo"/>
</message>
<message name="partiteByTipoResponse">
<part name="parameters" element="tns:partiteByTipoResponse"/>
</message>
<message name="getPartite">
<part name="parameters" element="tns:getPartite"/>
</message>
<message name="getPartiteResponse">
<part name="parameters" element="tns:getPartiteResponse"/>
</message>
<message name="partiteByMosse">
<part name="parameters" element="tns:partiteByMosse"/>
</message>
<message name="partiteByMosseResponse">
<part name="parameters" element="tns:partiteByMosseResponse"/>
</message>
<message name="eliminaPartita">
<part name="parameters" element="tns:eliminaPartita"/>
</message>
<message name="eliminaPartitaResponse">
<part name="parameters" element="tns:eliminaPartitaResponse"/>
</message>
<portType name="PartitaEJB">
<operation name="partiteByGiocatore">
<input wsam:Action="http://scacchi/PartitaEJB/partiteByGiocatoreRequest" message="tns:partiteByGiocatore"/>
<output wsam:Action="http://scacchi/PartitaEJB/partiteByGiocatoreResponse" message="tns:partiteByGiocatoreResponse"/>
</operation>
<operation name="partiteByRisultato">
<input wsam:Action="http://scacchi/PartitaEJB/partiteByRisultatoRequest" message="tns:partiteByRisultato"/>
<output wsam:Action="http://scacchi/PartitaEJB/partiteByRisultatoResponse" message="tns:partiteByRisultatoResponse"/>
</operation>
<operation name="partiteRatingMaggiore">
<input wsam:Action="http://scacchi/PartitaEJB/partiteRatingMaggioreRequest" message="tns:partiteRatingMaggiore"/>
<output wsam:Action="http://scacchi/PartitaEJB/partiteRatingMaggioreResponse" message="tns:partiteRatingMaggioreResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://scacchi/PartitaEJB/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://scacchi/PartitaEJB/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="modificaPartita">
<input wsam:Action="http://scacchi/PartitaEJB/modificaPartitaRequest" message="tns:modificaPartita"/>
<output wsam:Action="http://scacchi/PartitaEJB/modificaPartitaResponse" message="tns:modificaPartitaResponse"/>
</operation>
<operation name="aggiungiPartita">
<input wsam:Action="http://scacchi/PartitaEJB/aggiungiPartitaRequest" message="tns:aggiungiPartita"/>
<output wsam:Action="http://scacchi/PartitaEJB/aggiungiPartitaResponse" message="tns:aggiungiPartitaResponse"/>
</operation>
<operation name="partiteByTipo">
<input wsam:Action="http://scacchi/PartitaEJB/partiteByTipoRequest" message="tns:partiteByTipo"/>
<output wsam:Action="http://scacchi/PartitaEJB/partiteByTipoResponse" message="tns:partiteByTipoResponse"/>
</operation>
<operation name="getPartite">
<input wsam:Action="http://scacchi/PartitaEJB/getPartiteRequest" message="tns:getPartite"/>
<output wsam:Action="http://scacchi/PartitaEJB/getPartiteResponse" message="tns:getPartiteResponse"/>
</operation>
<operation name="partiteByMosse">
<input wsam:Action="http://scacchi/PartitaEJB/partiteByMosseRequest" message="tns:partiteByMosse"/>
<output wsam:Action="http://scacchi/PartitaEJB/partiteByMosseResponse" message="tns:partiteByMosseResponse"/>
</operation>
<operation name="eliminaPartita">
<input wsam:Action="http://scacchi/PartitaEJB/eliminaPartitaRequest" message="tns:eliminaPartita"/>
<output wsam:Action="http://scacchi/PartitaEJB/eliminaPartitaResponse" message="tns:eliminaPartitaResponse"/>
</operation>
</portType>
<binding name="PartitaEJBPortBinding" type="tns:PartitaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partiteByGiocatore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partiteByRisultato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partiteRatingMaggiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partiteByTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partiteByMosse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartitaEJBService">
<port name="PartitaEJBPort" binding="tns:PartitaEJBPortBinding">
<soap:address location="http://localhost:8080/PartitaEJBService/PartitaEJB"/>
</port>
</service>
</definitions>