Scacchi/ScacchiWebClient/xml-resources/web-service-references/PartitaEJB/wsdl/localhost_8080/PartitaEJBService/PartitaEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://scacchi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://scacchi/">

<xs:element name="aggiungiPartita" type="tns:aggiungiPartita"/>

<xs:element name="aggiungiPartitaResponse" type="tns:aggiungiPartitaResponse"/>

<xs:element name="eliminaPartita" type="tns:eliminaPartita"/>

<xs:element name="eliminaPartitaResponse" type="tns:eliminaPartitaResponse"/>

<xs:element name="getById" type="tns:getById"/>

<xs:element name="getByIdResponse" type="tns:getByIdResponse"/>

<xs:element name="getPartite" type="tns:getPartite"/>

<xs:element name="getPartiteResponse" type="tns:getPartiteResponse"/>

<xs:element name="modificaPartita" type="tns:modificaPartita"/>

<xs:element name="modificaPartitaResponse" type="tns:modificaPartitaResponse"/>

<xs:element name="partiteByGiocatore" type="tns:partiteByGiocatore"/>

<xs:element name="partiteByGiocatoreResponse" type="tns:partiteByGiocatoreResponse"/>

<xs:element name="partiteByMosse" type="tns:partiteByMosse"/>

<xs:element name="partiteByMosseResponse" type="tns:partiteByMosseResponse"/>

<xs:element name="partiteByRisultato" type="tns:partiteByRisultato"/>

<xs:element name="partiteByRisultatoResponse" type="tns:partiteByRisultatoResponse"/>

<xs:element name="partiteByTipo" type="tns:partiteByTipo"/>

<xs:element name="partiteByTipoResponse" type="tns:partiteByTipoResponse"/>

<xs:element name="partiteRatingMaggiore" type="tns:partiteRatingMaggiore"/>

<xs:element name="partiteRatingMaggioreResponse" type="tns:partiteRatingMaggioreResponse"/>

<xs:complexType name="partiteByTipo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByTipoResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partita">
<xs:sequence>
<xs:element name="conclusa" type="xs:boolean"/>
<xs:element name="giocatore1" type="xs:string" minOccurs="0"/>
<xs:element name="giocatore2" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="mosse" type="xs:string" minOccurs="0"/>
<xs:element name="rating1" type="xs:int"/>
<xs:element name="rating2" type="xs:int"/>
<xs:element name="risultato" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByRisultato">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByRisultatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaPartita">
<xs:sequence>
<xs:element name="arg0" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaPartitaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="aggiungiPartita">
<xs:sequence>
<xs:element name="arg0" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiPartitaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partiteRatingMaggiore">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partiteRatingMaggioreResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getById">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaPartita">
<xs:sequence>
<xs:element name="arg0" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaPartitaResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByGiocatore">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByGiocatoreResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartite">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPartiteResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByMosse">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partiteByMosseResponse">
<xs:sequence>
<xs:element name="return" type="tns:partita" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>