Casa/CasaWebClient/src/META-INF/wsdl/localhost_8080/CasaEJBService/CasaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://casa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://casa/" name="CasaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://casa/" schemaLocation="http://localhost:8080/CasaEJBService/CasaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminaCasa">
<part name="parameters" element="tns:eliminaCasa"/>
</message>
<message name="eliminaCasaResponse">
<part name="parameters" element="tns:eliminaCasaResponse"/>
</message>
<message name="aggiungiCasa">
<part name="parameters" element="tns:aggiungiCasa"/>
</message>
<message name="aggiungiCasaResponse">
<part name="parameters" element="tns:aggiungiCasaResponse"/>
</message>
<message name="getByCap">
<part name="parameters" element="tns:getByCap"/>
</message>
<message name="getByCapResponse">
<part name="parameters" element="tns:getByCapResponse"/>
</message>
<message name="getByTipo">
<part name="parameters" element="tns:getByTipo"/>
</message>
<message name="getByTipoResponse">
<part name="parameters" element="tns:getByTipoResponse"/>
</message>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="getLibera">
<part name="parameters" element="tns:getLibera"/>
</message>
<message name="getLiberaResponse">
<part name="parameters" element="tns:getLiberaResponse"/>
</message>
<message name="getByPrezzoZona">
<part name="parameters" element="tns:getByPrezzoZona"/>
</message>
<message name="getByPrezzoZonaResponse">
<part name="parameters" element="tns:getByPrezzoZonaResponse"/>
</message>
<message name="getCase">
<part name="parameters" element="tns:getCase"/>
</message>
<message name="getCaseResponse">
<part name="parameters" element="tns:getCaseResponse"/>
</message>
<message name="modificaCasa">
<part name="parameters" element="tns:modificaCasa"/>
</message>
<message name="modificaCasaResponse">
<part name="parameters" element="tns:modificaCasaResponse"/>
</message>
<message name="getByPrezzoInferiore">
<part name="parameters" element="tns:getByPrezzoInferiore"/>
</message>
<message name="getByPrezzoInferioreResponse">
<part name="parameters" element="tns:getByPrezzoInferioreResponse"/>
</message>
<portType name="CasaEJB">
<operation name="eliminaCasa">
<input wsam:Action="http://casa/CasaEJB/eliminaCasaRequest" message="tns:eliminaCasa"/>
<output wsam:Action="http://casa/CasaEJB/eliminaCasaResponse" message="tns:eliminaCasaResponse"/>
</operation>
<operation name="aggiungiCasa">
<input wsam:Action="http://casa/CasaEJB/aggiungiCasaRequest" message="tns:aggiungiCasa"/>
<output wsam:Action="http://casa/CasaEJB/aggiungiCasaResponse" message="tns:aggiungiCasaResponse"/>
</operation>
<operation name="getByCap">
<input wsam:Action="http://casa/CasaEJB/getByCapRequest" message="tns:getByCap"/>
<output wsam:Action="http://casa/CasaEJB/getByCapResponse" message="tns:getByCapResponse"/>
</operation>
<operation name="getByTipo">
<input wsam:Action="http://casa/CasaEJB/getByTipoRequest" message="tns:getByTipo"/>
<output wsam:Action="http://casa/CasaEJB/getByTipoResponse" message="tns:getByTipoResponse"/>
</operation>
<operation name="cercaPerId">
<input wsam:Action="http://casa/CasaEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://casa/CasaEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="getLibera">
<input wsam:Action="http://casa/CasaEJB/getLiberaRequest" message="tns:getLibera"/>
<output wsam:Action="http://casa/CasaEJB/getLiberaResponse" message="tns:getLiberaResponse"/>
</operation>
<operation name="getByPrezzoZona">
<input wsam:Action="http://casa/CasaEJB/getByPrezzoZonaRequest" message="tns:getByPrezzoZona"/>
<output wsam:Action="http://casa/CasaEJB/getByPrezzoZonaResponse" message="tns:getByPrezzoZonaResponse"/>
</operation>
<operation name="getCase">
<input wsam:Action="http://casa/CasaEJB/getCaseRequest" message="tns:getCase"/>
<output wsam:Action="http://casa/CasaEJB/getCaseResponse" message="tns:getCaseResponse"/>
</operation>
<operation name="modificaCasa">
<input wsam:Action="http://casa/CasaEJB/modificaCasaRequest" message="tns:modificaCasa"/>
<output wsam:Action="http://casa/CasaEJB/modificaCasaResponse" message="tns:modificaCasaResponse"/>
</operation>
<operation name="getByPrezzoInferiore">
<input wsam:Action="http://casa/CasaEJB/getByPrezzoInferioreRequest" message="tns:getByPrezzoInferiore"/>
<output wsam:Action="http://casa/CasaEJB/getByPrezzoInferioreResponse" message="tns:getByPrezzoInferioreResponse"/>
</operation>
</portType>
<binding name="CasaEJBPortBinding" type="tns:CasaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminaCasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiCasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByCap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLibera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByPrezzoZona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaCasa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByPrezzoInferiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CasaEJBService">
<port name="CasaEJBPort" binding="tns:CasaEJBPortBinding">
<soap:address location="http://localhost:8080/CasaEJBService/CasaEJB"/>
</port>
</service>
</definitions>