Organizzazione/OrganizzazioneWebClient/xml-resources/web-service-references/OrganizzazioneEJB/wsdl/localhost_8080/OrganizzazioneEJBService/OrganizzazioneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://organizzazione/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://organizzazione/" name="OrganizzazioneEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://organizzazione/" schemaLocation="http://localhost:8080/OrganizzazioneEJBService/OrganizzazioneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="aggiungiOrganizzazione">
<part name="parameters" element="tns:aggiungiOrganizzazione"/>
</message>
<message name="aggiungiOrganizzazioneResponse">
<part name="parameters" element="tns:aggiungiOrganizzazioneResponse"/>
</message>
<message name="stampaBilancioMaggiore">
<part name="parameters" element="tns:stampaBilancioMaggiore"/>
</message>
<message name="stampaBilancioMaggioreResponse">
<part name="parameters" element="tns:stampaBilancioMaggioreResponse"/>
</message>
<message name="eliminaOrganizzazione">
<part name="parameters" element="tns:eliminaOrganizzazione"/>
</message>
<message name="eliminaOrganizzazioneResponse">
<part name="parameters" element="tns:eliminaOrganizzazioneResponse"/>
</message>
<message name="getTrasparenzaCento">
<part name="parameters" element="tns:getTrasparenzaCento"/>
</message>
<message name="getTrasparenzaCentoResponse">
<part name="parameters" element="tns:getTrasparenzaCentoResponse"/>
</message>
<message name="getOrganizzazione">
<part name="parameters" element="tns:getOrganizzazione"/>
</message>
<message name="getOrganizzazioneResponse">
<part name="parameters" element="tns:getOrganizzazioneResponse"/>
</message>
<message name="modificaOrganizzazione">
<part name="parameters" element="tns:modificaOrganizzazione"/>
</message>
<message name="modificaOrganizzazioneResponse">
<part name="parameters" element="tns:modificaOrganizzazioneResponse"/>
</message>
<message name="numeroProgettiMaggiore">
<part name="parameters" element="tns:numeroProgettiMaggiore"/>
</message>
<message name="numeroProgettiMaggioreResponse">
<part name="parameters" element="tns:numeroProgettiMaggioreResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<portType name="OrganizzazioneEJB">
<operation name="aggiungiOrganizzazione">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/aggiungiOrganizzazioneRequest" message="tns:aggiungiOrganizzazione"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/aggiungiOrganizzazioneResponse" message="tns:aggiungiOrganizzazioneResponse"/>
</operation>
<operation name="stampaBilancioMaggiore">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/stampaBilancioMaggioreRequest" message="tns:stampaBilancioMaggiore"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/stampaBilancioMaggioreResponse" message="tns:stampaBilancioMaggioreResponse"/>
</operation>
<operation name="eliminaOrganizzazione">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/eliminaOrganizzazioneRequest" message="tns:eliminaOrganizzazione"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/eliminaOrganizzazioneResponse" message="tns:eliminaOrganizzazioneResponse"/>
</operation>
<operation name="getTrasparenzaCento">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/getTrasparenzaCentoRequest" message="tns:getTrasparenzaCento"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/getTrasparenzaCentoResponse" message="tns:getTrasparenzaCentoResponse"/>
</operation>
<operation name="getOrganizzazione">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/getOrganizzazioneRequest" message="tns:getOrganizzazione"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/getOrganizzazioneResponse" message="tns:getOrganizzazioneResponse"/>
</operation>
<operation name="modificaOrganizzazione">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/modificaOrganizzazioneRequest" message="tns:modificaOrganizzazione"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/modificaOrganizzazioneResponse" message="tns:modificaOrganizzazioneResponse"/>
</operation>
<operation name="numeroProgettiMaggiore">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/numeroProgettiMaggioreRequest" message="tns:numeroProgettiMaggiore"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/numeroProgettiMaggioreResponse" message="tns:numeroProgettiMaggioreResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://organizzazione/OrganizzazioneEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://organizzazione/OrganizzazioneEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
</portType>
<binding name="OrganizzazioneEJBPortBinding" type="tns:OrganizzazioneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aggiungiOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stampaBilancioMaggiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTrasparenzaCento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaOrganizzazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numeroProgettiMaggiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrganizzazioneEJBService">
<port name="OrganizzazioneEJBPort" binding="tns:OrganizzazioneEJBPortBinding">
<soap:address location="http://localhost:8080/OrganizzazioneEJBService/OrganizzazioneEJB"/>
</port>
</service>
</definitions>