Fiori/FioriWebClient/xml-resources/web-service-references/FioreEJB/wsdl/localhost_8080/FioreEJBService/FioreEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fiori/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fiori/" name="FioreEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://fiori/" schemaLocation="http://localhost:8080/FioreEJBService/FioreEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getByUso">
<part name="parameters" element="tns:getByUso"/>
</message>
<message name="getByUsoResponse">
<part name="parameters" element="tns:getByUsoResponse"/>
</message>
<message name="getByParassiti">
<part name="parameters" element="tns:getByParassiti"/>
</message>
<message name="getByParassitiResponse">
<part name="parameters" element="tns:getByParassitiResponse"/>
</message>
<message name="eliminaFiore">
<part name="parameters" element="tns:eliminaFiore"/>
</message>
<message name="eliminaFioreResponse">
<part name="parameters" element="tns:eliminaFioreResponse"/>
</message>
<message name="getByColore">
<part name="parameters" element="tns:getByColore"/>
</message>
<message name="getByColoreResponse">
<part name="parameters" element="tns:getByColoreResponse"/>
</message>
<message name="getFiori">
<part name="parameters" element="tns:getFiori"/>
</message>
<message name="getFioriResponse">
<part name="parameters" element="tns:getFioriResponse"/>
</message>
<message name="getFioreById">
<part name="parameters" element="tns:getFioreById"/>
</message>
<message name="getFioreByIdResponse">
<part name="parameters" element="tns:getFioreByIdResponse"/>
</message>
<message name="modificaFiore">
<part name="parameters" element="tns:modificaFiore"/>
</message>
<message name="modificaFioreResponse">
<part name="parameters" element="tns:modificaFioreResponse"/>
</message>
<message name="getbyCiclo">
<part name="parameters" element="tns:getbyCiclo"/>
</message>
<message name="getbyCicloResponse">
<part name="parameters" element="tns:getbyCicloResponse"/>
</message>
<message name="aggiungiFiore">
<part name="parameters" element="tns:aggiungiFiore"/>
</message>
<message name="aggiungiFioreResponse">
<part name="parameters" element="tns:aggiungiFioreResponse"/>
</message>
<message name="getByProprieta">
<part name="parameters" element="tns:getByProprieta"/>
</message>
<message name="getByProprietaResponse">
<part name="parameters" element="tns:getByProprietaResponse"/>
</message>
<portType name="FioreEJB">
<operation name="getByUso">
<input wsam:Action="http://fiori/FioreEJB/getByUsoRequest" message="tns:getByUso"/>
<output wsam:Action="http://fiori/FioreEJB/getByUsoResponse" message="tns:getByUsoResponse"/>
</operation>
<operation name="getByParassiti">
<input wsam:Action="http://fiori/FioreEJB/getByParassitiRequest" message="tns:getByParassiti"/>
<output wsam:Action="http://fiori/FioreEJB/getByParassitiResponse" message="tns:getByParassitiResponse"/>
</operation>
<operation name="eliminaFiore">
<input wsam:Action="http://fiori/FioreEJB/eliminaFioreRequest" message="tns:eliminaFiore"/>
<output wsam:Action="http://fiori/FioreEJB/eliminaFioreResponse" message="tns:eliminaFioreResponse"/>
</operation>
<operation name="getByColore">
<input wsam:Action="http://fiori/FioreEJB/getByColoreRequest" message="tns:getByColore"/>
<output wsam:Action="http://fiori/FioreEJB/getByColoreResponse" message="tns:getByColoreResponse"/>
</operation>
<operation name="getFiori">
<input wsam:Action="http://fiori/FioreEJB/getFioriRequest" message="tns:getFiori"/>
<output wsam:Action="http://fiori/FioreEJB/getFioriResponse" message="tns:getFioriResponse"/>
</operation>
<operation name="getFioreById">
<input wsam:Action="http://fiori/FioreEJB/getFioreByIdRequest" message="tns:getFioreById"/>
<output wsam:Action="http://fiori/FioreEJB/getFioreByIdResponse" message="tns:getFioreByIdResponse"/>
</operation>
<operation name="modificaFiore">
<input wsam:Action="http://fiori/FioreEJB/modificaFioreRequest" message="tns:modificaFiore"/>
<output wsam:Action="http://fiori/FioreEJB/modificaFioreResponse" message="tns:modificaFioreResponse"/>
</operation>
<operation name="getbyCiclo">
<input wsam:Action="http://fiori/FioreEJB/getbyCicloRequest" message="tns:getbyCiclo"/>
<output wsam:Action="http://fiori/FioreEJB/getbyCicloResponse" message="tns:getbyCicloResponse"/>
</operation>
<operation name="aggiungiFiore">
<input wsam:Action="http://fiori/FioreEJB/aggiungiFioreRequest" message="tns:aggiungiFiore"/>
<output wsam:Action="http://fiori/FioreEJB/aggiungiFioreResponse" message="tns:aggiungiFioreResponse"/>
</operation>
<operation name="getByProprieta">
<input wsam:Action="http://fiori/FioreEJB/getByProprietaRequest" message="tns:getByProprieta"/>
<output wsam:Action="http://fiori/FioreEJB/getByProprietaResponse" message="tns:getByProprietaResponse"/>
</operation>
</portType>
<binding name="FioreEJBPortBinding" type="tns:FioreEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getByUso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByParassiti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaFiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByColore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFiori">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFioreById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaFiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getbyCiclo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiFiore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByProprieta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FioreEJBService">
<port name="FioreEJBPort" binding="tns:FioreEJBPortBinding">
<soap:address location="http://localhost:8080/FioreEJBService/FioreEJB"/>
</port>
</service>
</definitions>