UEFA/UEFAWebClient/xml-resources/web-service-references/PartitaEJB/wsdl/localhost_8080/PartitaEJBService/PartitaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://partita/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://partita/" name="PartitaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://partita/" schemaLocation="http://localhost:8080/PartitaEJBService/PartitaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getPartiteByAmmonizioni">
<part name="parameters" element="tns:getPartiteByAmmonizioni"/>
</message>
<message name="getPartiteByAmmonizioniResponse">
<part name="parameters" element="tns:getPartiteByAmmonizioniResponse"/>
</message>
<message name="getPartiteGoalMaggiori">
<part name="parameters" element="tns:getPartiteGoalMaggiori"/>
</message>
<message name="getPartiteGoalMaggioriResponse">
<part name="parameters" element="tns:getPartiteGoalMaggioriResponse"/>
</message>
<message name="getPartiteByEspulsioni">
<part name="parameters" element="tns:getPartiteByEspulsioni"/>
</message>
<message name="getPartiteByEspulsioniResponse">
<part name="parameters" element="tns:getPartiteByEspulsioniResponse"/>
</message>
<message name="eliminaPartita">
<part name="parameters" element="tns:eliminaPartita"/>
</message>
<message name="eliminaPartitaResponse">
<part name="parameters" element="tns:eliminaPartitaResponse"/>
</message>
<message name="getByTipo">
<part name="parameters" element="tns:getByTipo"/>
</message>
<message name="getByTipoResponse">
<part name="parameters" element="tns:getByTipoResponse"/>
</message>
<message name="aggiungiPartita">
<part name="parameters" element="tns:aggiungiPartita"/>
</message>
<message name="aggiungiPartitaResponse">
<part name="parameters" element="tns:aggiungiPartitaResponse"/>
</message>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="getGiocate">
<part name="parameters" element="tns:getGiocate"/>
</message>
<message name="getGiocateResponse">
<part name="parameters" element="tns:getGiocateResponse"/>
</message>
<message name="getPartite">
<part name="parameters" element="tns:getPartite"/>
</message>
<message name="getPartiteResponse">
<part name="parameters" element="tns:getPartiteResponse"/>
</message>
<message name="modificaPartita">
<part name="parameters" element="tns:modificaPartita"/>
</message>
<message name="modificaPartitaResponse">
<part name="parameters" element="tns:modificaPartitaResponse"/>
</message>
<portType name="PartitaEJB">
<operation name="getPartiteByAmmonizioni">
<input wsam:Action="http://partita/PartitaEJB/getPartiteByAmmonizioniRequest" message="tns:getPartiteByAmmonizioni"/>
<output wsam:Action="http://partita/PartitaEJB/getPartiteByAmmonizioniResponse" message="tns:getPartiteByAmmonizioniResponse"/>
</operation>
<operation name="getPartiteGoalMaggiori">
<input wsam:Action="http://partita/PartitaEJB/getPartiteGoalMaggioriRequest" message="tns:getPartiteGoalMaggiori"/>
<output wsam:Action="http://partita/PartitaEJB/getPartiteGoalMaggioriResponse" message="tns:getPartiteGoalMaggioriResponse"/>
</operation>
<operation name="getPartiteByEspulsioni">
<input wsam:Action="http://partita/PartitaEJB/getPartiteByEspulsioniRequest" message="tns:getPartiteByEspulsioni"/>
<output wsam:Action="http://partita/PartitaEJB/getPartiteByEspulsioniResponse" message="tns:getPartiteByEspulsioniResponse"/>
</operation>
<operation name="eliminaPartita">
<input wsam:Action="http://partita/PartitaEJB/eliminaPartitaRequest" message="tns:eliminaPartita"/>
<output wsam:Action="http://partita/PartitaEJB/eliminaPartitaResponse" message="tns:eliminaPartitaResponse"/>
</operation>
<operation name="getByTipo">
<input wsam:Action="http://partita/PartitaEJB/getByTipoRequest" message="tns:getByTipo"/>
<output wsam:Action="http://partita/PartitaEJB/getByTipoResponse" message="tns:getByTipoResponse"/>
</operation>
<operation name="aggiungiPartita">
<input wsam:Action="http://partita/PartitaEJB/aggiungiPartitaRequest" message="tns:aggiungiPartita"/>
<output wsam:Action="http://partita/PartitaEJB/aggiungiPartitaResponse" message="tns:aggiungiPartitaResponse"/>
</operation>
<operation name="cercaPerId">
<input wsam:Action="http://partita/PartitaEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://partita/PartitaEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="getGiocate">
<input wsam:Action="http://partita/PartitaEJB/getGiocateRequest" message="tns:getGiocate"/>
<output wsam:Action="http://partita/PartitaEJB/getGiocateResponse" message="tns:getGiocateResponse"/>
</operation>
<operation name="getPartite">
<input wsam:Action="http://partita/PartitaEJB/getPartiteRequest" message="tns:getPartite"/>
<output wsam:Action="http://partita/PartitaEJB/getPartiteResponse" message="tns:getPartiteResponse"/>
</operation>
<operation name="modificaPartita">
<input wsam:Action="http://partita/PartitaEJB/modificaPartitaRequest" message="tns:modificaPartita"/>
<output wsam:Action="http://partita/PartitaEJB/modificaPartitaResponse" message="tns:modificaPartitaResponse"/>
</operation>
</portType>
<binding name="PartitaEJBPortBinding" type="tns:PartitaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPartiteByAmmonizioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartiteGoalMaggiori">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartiteByEspulsioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGiocate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPartite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaPartita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartitaEJBService">
<port name="PartitaEJBPort" binding="tns:PartitaEJBPortBinding">
<soap:address location="http://localhost:8080/PartitaEJBService/PartitaEJB"/>
</port>
</service>
</definitions>