Multe/MulteWebClient/xml-resources/web-service-references/MultaEJB/wsdl/localhost_8080/MultaEJBService/MultaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://multa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://multa/" name="MultaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://multa/" schemaLocation="http://localhost:8080/MultaEJBService/MultaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminaMulta">
<part name="parameters" element="tns:eliminaMulta"/>
</message>
<message name="eliminaMultaResponse">
<part name="parameters" element="tns:eliminaMultaResponse"/>
</message>
<message name="getByNomecognome">
<part name="parameters" element="tns:getByNomecognome"/>
</message>
<message name="getByNomecognomeResponse">
<part name="parameters" element="tns:getByNomecognomeResponse"/>
</message>
<message name="getContestabili">
<part name="parameters" element="tns:getContestabili"/>
</message>
<message name="getContestabiliResponse">
<part name="parameters" element="tns:getContestabiliResponse"/>
</message>
<message name="aggiungiMulta">
<part name="parameters" element="tns:aggiungiMulta"/>
</message>
<message name="aggiungiMultaResponse">
<part name="parameters" element="tns:aggiungiMultaResponse"/>
</message>
<message name="modificaMulta">
<part name="parameters" element="tns:modificaMulta"/>
</message>
<message name="modificaMultaResponse">
<part name="parameters" element="tns:modificaMultaResponse"/>
</message>
<message name="cercaMulta">
<part name="parameters" element="tns:cercaMulta"/>
</message>
<message name="cercaMultaResponse">
<part name="parameters" element="tns:cercaMultaResponse"/>
</message>
<message name="getMulte">
<part name="parameters" element="tns:getMulte"/>
</message>
<message name="getMulteResponse">
<part name="parameters" element="tns:getMulteResponse"/>
</message>
<message name="getNonPagate">
<part name="parameters" element="tns:getNonPagate"/>
</message>
<message name="getNonPagateResponse">
<part name="parameters" element="tns:getNonPagateResponse"/>
</message>
<portType name="MultaEJB">
<operation name="eliminaMulta">
<input wsam:Action="http://multa/MultaEJB/eliminaMultaRequest" message="tns:eliminaMulta"/>
<output wsam:Action="http://multa/MultaEJB/eliminaMultaResponse" message="tns:eliminaMultaResponse"/>
</operation>
<operation name="getByNomecognome">
<input wsam:Action="http://multa/MultaEJB/getByNomecognomeRequest" message="tns:getByNomecognome"/>
<output wsam:Action="http://multa/MultaEJB/getByNomecognomeResponse" message="tns:getByNomecognomeResponse"/>
</operation>
<operation name="getContestabili">
<input wsam:Action="http://multa/MultaEJB/getContestabiliRequest" message="tns:getContestabili"/>
<output wsam:Action="http://multa/MultaEJB/getContestabiliResponse" message="tns:getContestabiliResponse"/>
</operation>
<operation name="aggiungiMulta">
<input wsam:Action="http://multa/MultaEJB/aggiungiMultaRequest" message="tns:aggiungiMulta"/>
<output wsam:Action="http://multa/MultaEJB/aggiungiMultaResponse" message="tns:aggiungiMultaResponse"/>
</operation>
<operation name="modificaMulta">
<input wsam:Action="http://multa/MultaEJB/modificaMultaRequest" message="tns:modificaMulta"/>
<output wsam:Action="http://multa/MultaEJB/modificaMultaResponse" message="tns:modificaMultaResponse"/>
</operation>
<operation name="cercaMulta">
<input wsam:Action="http://multa/MultaEJB/cercaMultaRequest" message="tns:cercaMulta"/>
<output wsam:Action="http://multa/MultaEJB/cercaMultaResponse" message="tns:cercaMultaResponse"/>
</operation>
<operation name="getMulte">
<input wsam:Action="http://multa/MultaEJB/getMulteRequest" message="tns:getMulte"/>
<output wsam:Action="http://multa/MultaEJB/getMulteResponse" message="tns:getMulteResponse"/>
</operation>
<operation name="getNonPagate">
<input wsam:Action="http://multa/MultaEJB/getNonPagateRequest" message="tns:getNonPagate"/>
<output wsam:Action="http://multa/MultaEJB/getNonPagateResponse" message="tns:getNonPagateResponse"/>
</operation>
</portType>
<binding name="MultaEJBPortBinding" type="tns:MultaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminaMulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByNomecognome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getContestabili">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiMulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaMulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaMulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMulte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNonPagate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MultaEJBService">
<port name="MultaEJBPort" binding="tns:MultaEJBPortBinding">
<soap:address location="http://localhost:8080/MultaEJBService/MultaEJB"/>
</port>
</service>
</definitions>