Correntisti/CorrentistiWebClient/src/META-INF/wsdl/localhost_8080/CorrentistaEJBService/CorrentistaEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://correntisti/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://correntisti/">

<xs:element name="aggiungiCorrentista" type="tns:aggiungiCorrentista"/>

<xs:element name="aggiungiCorrentistaResponse" type="tns:aggiungiCorrentistaResponse"/>

<xs:element name="cercaPerId" type="tns:cercaPerId"/>

<xs:element name="cercaPerIdResponse" type="tns:cercaPerIdResponse"/>

<xs:element name="correntista" type="tns:correntista"/>

<xs:element name="effettuaBonifico" type="tns:effettuaBonifico"/>

<xs:element name="effettuaBonificoResponse" type="tns:effettuaBonificoResponse"/>

<xs:element name="eliminaCorrentista" type="tns:eliminaCorrentista"/>

<xs:element name="eliminaCorrentistaResponse" type="tns:eliminaCorrentistaResponse"/>

<xs:element name="getBonificiIngresso" type="tns:getBonificiIngresso"/>

<xs:element name="getBonificiIngressoResponse" type="tns:getBonificiIngressoResponse"/>

<xs:element name="getCorrenistiOperazioni" type="tns:getCorrenistiOperazioni"/>

<xs:element name="getCorrenistiOperazioniResponse" type="tns:getCorrenistiOperazioniResponse"/>

<xs:element name="getCorrentisti" type="tns:getCorrentisti"/>

<xs:element name="getCorrentistiByCognome" type="tns:getCorrentistiByCognome"/>

<xs:element name="getCorrentistiByCognomeResponse" type="tns:getCorrentistiByCognomeResponse"/>

<xs:element name="getCorrentistiByImpiego" type="tns:getCorrentistiByImpiego"/>

<xs:element name="getCorrentistiByImpiegoResponse" type="tns:getCorrentistiByImpiegoResponse"/>

<xs:element name="getCorrentistiInsolventi" type="tns:getCorrentistiInsolventi"/>

<xs:element name="getCorrentistiInsolventiResponse" type="tns:getCorrentistiInsolventiResponse"/>

<xs:element name="getCorrentistiResponse" type="tns:getCorrentistiResponse"/>

<xs:element name="modificaCorrentista" type="tns:modificaCorrentista"/>

<xs:element name="modificaCorrentistaResponse" type="tns:modificaCorrentistaResponse"/>

<xs:complexType name="cercaPerId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="correntista">
<xs:sequence>
<xs:element name="bonIng" type="xs:int"/>
<xs:element name="bonUsc" type="xs:int"/>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="impiego" type="xs:string" minOccurs="0"/>
<xs:element name="ingTot" type="xs:int"/>
<xs:element name="ingresso" type="xs:int"/>
<xs:element name="insolvente" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="uscTot" type="xs:int"/>
<xs:element name="uscita" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaCorrentista">
<xs:sequence>
<xs:element name="arg0" type="tns:correntista" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaCorrentistaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCorrentistiByCognome">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCorrentistiByCognomeResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCorrentistiByImpiego">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCorrentistiByImpiegoResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCorrentistiInsolventi">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCorrentistiInsolventiResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="effettuaBonifico">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="effettuaBonificoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBonificiIngresso">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBonificiIngressoResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaCorrentista">
<xs:sequence>
<xs:element name="arg0" type="tns:correntista" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaCorrentistaResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiCorrentista">
<xs:sequence>
<xs:element name="arg0" type="tns:correntista" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiCorrentistaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCorrenistiOperazioni">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCorrenistiOperazioniResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCorrentisti">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCorrentistiResponse">
<xs:sequence>
<xs:element name="return" type="tns:correntista" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>