Correntisti/CorrentistiWebClient/src/META-INF/wsdl/localhost_8080/CorrentistaEJBService/CorrentistaEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://correntisti/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://correntisti/" name="CorrentistaEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://correntisti/" schemaLocation="http://localhost:8080/CorrentistaEJBService/CorrentistaEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="modificaCorrentista">
<part name="parameters" element="tns:modificaCorrentista"/>
</message>
<message name="modificaCorrentistaResponse">
<part name="parameters" element="tns:modificaCorrentistaResponse"/>
</message>
<message name="aggiungiCorrentista">
<part name="parameters" element="tns:aggiungiCorrentista"/>
</message>
<message name="aggiungiCorrentistaResponse">
<part name="parameters" element="tns:aggiungiCorrentistaResponse"/>
</message>
<message name="getCorrentistiByImpiego">
<part name="parameters" element="tns:getCorrentistiByImpiego"/>
</message>
<message name="getCorrentistiByImpiegoResponse">
<part name="parameters" element="tns:getCorrentistiByImpiegoResponse"/>
</message>
<message name="eliminaCorrentista">
<part name="parameters" element="tns:eliminaCorrentista"/>
</message>
<message name="eliminaCorrentistaResponse">
<part name="parameters" element="tns:eliminaCorrentistaResponse"/>
</message>
<message name="getCorrentistiByCognome">
<part name="parameters" element="tns:getCorrentistiByCognome"/>
</message>
<message name="getCorrentistiByCognomeResponse">
<part name="parameters" element="tns:getCorrentistiByCognomeResponse"/>
</message>
<message name="getCorrenistiOperazioni">
<part name="parameters" element="tns:getCorrenistiOperazioni"/>
</message>
<message name="getCorrenistiOperazioniResponse">
<part name="parameters" element="tns:getCorrenistiOperazioniResponse"/>
</message>
<message name="getCorrentistiInsolventi">
<part name="parameters" element="tns:getCorrentistiInsolventi"/>
</message>
<message name="getCorrentistiInsolventiResponse">
<part name="parameters" element="tns:getCorrentistiInsolventiResponse"/>
</message>
<message name="getBonificiIngresso">
<part name="parameters" element="tns:getBonificiIngresso"/>
</message>
<message name="getBonificiIngressoResponse">
<part name="parameters" element="tns:getBonificiIngressoResponse"/>
</message>
<message name="getCorrentisti">
<part name="parameters" element="tns:getCorrentisti"/>
</message>
<message name="getCorrentistiResponse">
<part name="parameters" element="tns:getCorrentistiResponse"/>
</message>
<message name="effettuaBonifico">
<part name="parameters" element="tns:effettuaBonifico"/>
</message>
<message name="effettuaBonificoResponse">
<part name="parameters" element="tns:effettuaBonificoResponse"/>
</message>
<portType name="CorrentistaEJB">
<operation name="cercaPerId">
<input wsam:Action="http://correntisti/CorrentistaEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="modificaCorrentista">
<input wsam:Action="http://correntisti/CorrentistaEJB/modificaCorrentistaRequest" message="tns:modificaCorrentista"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/modificaCorrentistaResponse" message="tns:modificaCorrentistaResponse"/>
</operation>
<operation name="aggiungiCorrentista">
<input wsam:Action="http://correntisti/CorrentistaEJB/aggiungiCorrentistaRequest" message="tns:aggiungiCorrentista"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/aggiungiCorrentistaResponse" message="tns:aggiungiCorrentistaResponse"/>
</operation>
<operation name="getCorrentistiByImpiego">
<input wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiByImpiegoRequest" message="tns:getCorrentistiByImpiego"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiByImpiegoResponse" message="tns:getCorrentistiByImpiegoResponse"/>
</operation>
<operation name="eliminaCorrentista">
<input wsam:Action="http://correntisti/CorrentistaEJB/eliminaCorrentistaRequest" message="tns:eliminaCorrentista"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/eliminaCorrentistaResponse" message="tns:eliminaCorrentistaResponse"/>
</operation>
<operation name="getCorrentistiByCognome">
<input wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiByCognomeRequest" message="tns:getCorrentistiByCognome"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiByCognomeResponse" message="tns:getCorrentistiByCognomeResponse"/>
</operation>
<operation name="getCorrenistiOperazioni">
<input wsam:Action="http://correntisti/CorrentistaEJB/getCorrenistiOperazioniRequest" message="tns:getCorrenistiOperazioni"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/getCorrenistiOperazioniResponse" message="tns:getCorrenistiOperazioniResponse"/>
</operation>
<operation name="getCorrentistiInsolventi">
<input wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiInsolventiRequest" message="tns:getCorrentistiInsolventi"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiInsolventiResponse" message="tns:getCorrentistiInsolventiResponse"/>
</operation>
<operation name="getBonificiIngresso">
<input wsam:Action="http://correntisti/CorrentistaEJB/getBonificiIngressoRequest" message="tns:getBonificiIngresso"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/getBonificiIngressoResponse" message="tns:getBonificiIngressoResponse"/>
</operation>
<operation name="getCorrentisti">
<input wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiRequest" message="tns:getCorrentisti"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/getCorrentistiResponse" message="tns:getCorrentistiResponse"/>
</operation>
<operation name="effettuaBonifico">
<input wsam:Action="http://correntisti/CorrentistaEJB/effettuaBonificoRequest" message="tns:effettuaBonifico"/>
<output wsam:Action="http://correntisti/CorrentistaEJB/effettuaBonificoResponse" message="tns:effettuaBonificoResponse"/>
</operation>
</portType>
<binding name="CorrentistaEJBPortBinding" type="tns:CorrentistaEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaCorrentista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiCorrentista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCorrentistiByImpiego">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaCorrentista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCorrentistiByCognome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCorrenistiOperazioni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCorrentistiInsolventi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBonificiIngresso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCorrentisti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="effettuaBonifico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CorrentistaEJBService">
<port name="CorrentistaEJBPort" binding="tns:CorrentistaEJBPortBinding">
<soap:address location="http://localhost:8080/CorrentistaEJBService/CorrentistaEJB"/>
</port>
</service>
</definitions>