Viaggi/ViaggiWebClient/xml-resources/web-service-references/ViaggioEJB/wsdl/localhost_8080/ViaggioEJBService/ViaggioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://viaggi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://viaggi/" name="ViaggioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://viaggi/" schemaLocation="http://localhost:8080/ViaggioEJBService/ViaggioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getDisponibili">
<part name="parameters" element="tns:getDisponibili"/>
</message>
<message name="getDisponibiliResponse">
<part name="parameters" element="tns:getDisponibiliResponse"/>
</message>
<message name="getViaggi">
<part name="parameters" element="tns:getViaggi"/>
</message>
<message name="getViaggiResponse">
<part name="parameters" element="tns:getViaggiResponse"/>
</message>
<message name="getByCategoria">
<part name="parameters" element="tns:getByCategoria"/>
</message>
<message name="getByCategoriaResponse">
<part name="parameters" element="tns:getByCategoriaResponse"/>
</message>
<message name="eliminaViaggio">
<part name="parameters" element="tns:eliminaViaggio"/>
</message>
<message name="eliminaViaggioResponse">
<part name="parameters" element="tns:eliminaViaggioResponse"/>
</message>
<message name="modificaViaggio">
<part name="parameters" element="tns:modificaViaggio"/>
</message>
<message name="modificaViaggioResponse">
<part name="parameters" element="tns:modificaViaggioResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="aggiungiViaggio">
<part name="parameters" element="tns:aggiungiViaggio"/>
</message>
<message name="aggiungiViaggioResponse">
<part name="parameters" element="tns:aggiungiViaggioResponse"/>
</message>
<message name="getViaggiPrezzoInf">
<part name="parameters" element="tns:getViaggiPrezzoInf"/>
</message>
<message name="getViaggiPrezzoInfResponse">
<part name="parameters" element="tns:getViaggiPrezzoInfResponse"/>
</message>
<message name="getByDestinazione">
<part name="parameters" element="tns:getByDestinazione"/>
</message>
<message name="getByDestinazioneResponse">
<part name="parameters" element="tns:getByDestinazioneResponse"/>
</message>
<portType name="ViaggioEJB">
<operation name="getDisponibili">
<input wsam:Action="http://viaggi/ViaggioEJB/getDisponibiliRequest" message="tns:getDisponibili"/>
<output wsam:Action="http://viaggi/ViaggioEJB/getDisponibiliResponse" message="tns:getDisponibiliResponse"/>
</operation>
<operation name="getViaggi">
<input wsam:Action="http://viaggi/ViaggioEJB/getViaggiRequest" message="tns:getViaggi"/>
<output wsam:Action="http://viaggi/ViaggioEJB/getViaggiResponse" message="tns:getViaggiResponse"/>
</operation>
<operation name="getByCategoria">
<input wsam:Action="http://viaggi/ViaggioEJB/getByCategoriaRequest" message="tns:getByCategoria"/>
<output wsam:Action="http://viaggi/ViaggioEJB/getByCategoriaResponse" message="tns:getByCategoriaResponse"/>
</operation>
<operation name="eliminaViaggio">
<input wsam:Action="http://viaggi/ViaggioEJB/eliminaViaggioRequest" message="tns:eliminaViaggio"/>
<output wsam:Action="http://viaggi/ViaggioEJB/eliminaViaggioResponse" message="tns:eliminaViaggioResponse"/>
</operation>
<operation name="modificaViaggio">
<input wsam:Action="http://viaggi/ViaggioEJB/modificaViaggioRequest" message="tns:modificaViaggio"/>
<output wsam:Action="http://viaggi/ViaggioEJB/modificaViaggioResponse" message="tns:modificaViaggioResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://viaggi/ViaggioEJB/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://viaggi/ViaggioEJB/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="aggiungiViaggio">
<input wsam:Action="http://viaggi/ViaggioEJB/aggiungiViaggioRequest" message="tns:aggiungiViaggio"/>
<output wsam:Action="http://viaggi/ViaggioEJB/aggiungiViaggioResponse" message="tns:aggiungiViaggioResponse"/>
</operation>
<operation name="getViaggiPrezzoInf">
<input wsam:Action="http://viaggi/ViaggioEJB/getViaggiPrezzoInfRequest" message="tns:getViaggiPrezzoInf"/>
<output wsam:Action="http://viaggi/ViaggioEJB/getViaggiPrezzoInfResponse" message="tns:getViaggiPrezzoInfResponse"/>
</operation>
<operation name="getByDestinazione">
<input wsam:Action="http://viaggi/ViaggioEJB/getByDestinazioneRequest" message="tns:getByDestinazione"/>
<output wsam:Action="http://viaggi/ViaggioEJB/getByDestinazioneResponse" message="tns:getByDestinazioneResponse"/>
</operation>
</portType>
<binding name="ViaggioEJBPortBinding" type="tns:ViaggioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDisponibili">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getViaggi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getViaggiPrezzoInf">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByDestinazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ViaggioEJBService">
<port name="ViaggioEJBPort" binding="tns:ViaggioEJBPortBinding">
<soap:address location="http://localhost:8080/ViaggioEJBService/ViaggioEJB"/>
</port>
</service>
</definitions>