Sanremo/SanremoWebClient/xml-resources/web-service-references/CanzoneEJB/wsdl/localhost_8080/CanzoneEJBService/CanzoneEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://canzoni/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://canzoni/">

<xs:element name="aggiungiCanzone" type="tns:aggiungiCanzone"/>

<xs:element name="aggiungiCanzoneResponse" type="tns:aggiungiCanzoneResponse"/>

<xs:element name="canzone" type="tns:canzone"/>

<xs:element name="cercaPerId" type="tns:cercaPerId"/>

<xs:element name="cercaPerIdResponse" type="tns:cercaPerIdResponse"/>

<xs:element name="eliminaCanzone" type="tns:eliminaCanzone"/>

<xs:element name="eliminaCanzoneResponse" type="tns:eliminaCanzoneResponse"/>

<xs:element name="getCanzoni" type="tns:getCanzoni"/>

<xs:element name="getCanzoniResponse" type="tns:getCanzoniResponse"/>

<xs:element name="modificaCanzone" type="tns:modificaCanzone"/>

<xs:element name="modificaCanzoneResponse" type="tns:modificaCanzoneResponse"/>

<xs:element name="printByCategory" type="tns:printByCategory"/>

<xs:element name="printByCategoryResponse" type="tns:printByCategoryResponse"/>

<xs:element name="printByVotes" type="tns:printByVotes"/>

<xs:element name="printByVotesResponse" type="tns:printByVotesResponse"/>

<xs:complexType name="eliminaCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="canzone">
<xs:sequence>
<xs:element name="cantante" type="xs:string" minOccurs="0"/>
<xs:element name="cantato" type="xs:boolean"/>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="incipit" type="xs:string" minOccurs="0"/>
<xs:element name="voto" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="aggiungiCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiCanzoneResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="printByVotes">
<xs:sequence>
<xs:element name="arg0" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByVotesResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaCanzone">
<xs:sequence>
<xs:element name="arg0" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaCanzoneResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCanzoni">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCanzoniResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByCategory">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="printByCategoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:canzone" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>