Sanremo/SanremoWebClient/xml-resources/web-service-references/CanzoneEJB/wsdl/localhost_8080/CanzoneEJBService/CanzoneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://canzoni/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://canzoni/" name="CanzoneEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://canzoni/" schemaLocation="http://localhost:8080/CanzoneEJBService/CanzoneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="aggiungiCanzone">
<part name="parameters" element="tns:aggiungiCanzone"/>
</message>
<message name="aggiungiCanzoneResponse">
<part name="parameters" element="tns:aggiungiCanzoneResponse"/>
</message>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="eliminaCanzone">
<part name="parameters" element="tns:eliminaCanzone"/>
</message>
<message name="eliminaCanzoneResponse">
<part name="parameters" element="tns:eliminaCanzoneResponse"/>
</message>
<message name="modificaCanzone">
<part name="parameters" element="tns:modificaCanzone"/>
</message>
<message name="modificaCanzoneResponse">
<part name="parameters" element="tns:modificaCanzoneResponse"/>
</message>
<message name="getCanzoni">
<part name="parameters" element="tns:getCanzoni"/>
</message>
<message name="getCanzoniResponse">
<part name="parameters" element="tns:getCanzoniResponse"/>
</message>
<message name="printByCategory">
<part name="parameters" element="tns:printByCategory"/>
</message>
<message name="printByCategoryResponse">
<part name="parameters" element="tns:printByCategoryResponse"/>
</message>
<message name="printByVotes">
<part name="parameters" element="tns:printByVotes"/>
</message>
<message name="printByVotesResponse">
<part name="parameters" element="tns:printByVotesResponse"/>
</message>
<portType name="CanzoneEJB">
<operation name="aggiungiCanzone">
<input wsam:Action="http://canzoni/CanzoneEJB/aggiungiCanzoneRequest" message="tns:aggiungiCanzone"/>
<output wsam:Action="http://canzoni/CanzoneEJB/aggiungiCanzoneResponse" message="tns:aggiungiCanzoneResponse"/>
</operation>
<operation name="cercaPerId">
<input wsam:Action="http://canzoni/CanzoneEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://canzoni/CanzoneEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="eliminaCanzone">
<input wsam:Action="http://canzoni/CanzoneEJB/eliminaCanzoneRequest" message="tns:eliminaCanzone"/>
<output wsam:Action="http://canzoni/CanzoneEJB/eliminaCanzoneResponse" message="tns:eliminaCanzoneResponse"/>
</operation>
<operation name="modificaCanzone">
<input wsam:Action="http://canzoni/CanzoneEJB/modificaCanzoneRequest" message="tns:modificaCanzone"/>
<output wsam:Action="http://canzoni/CanzoneEJB/modificaCanzoneResponse" message="tns:modificaCanzoneResponse"/>
</operation>
<operation name="getCanzoni">
<input wsam:Action="http://canzoni/CanzoneEJB/getCanzoniRequest" message="tns:getCanzoni"/>
<output wsam:Action="http://canzoni/CanzoneEJB/getCanzoniResponse" message="tns:getCanzoniResponse"/>
</operation>
<operation name="printByCategory">
<input wsam:Action="http://canzoni/CanzoneEJB/printByCategoryRequest" message="tns:printByCategory"/>
<output wsam:Action="http://canzoni/CanzoneEJB/printByCategoryResponse" message="tns:printByCategoryResponse"/>
</operation>
<operation name="printByVotes">
<input wsam:Action="http://canzoni/CanzoneEJB/printByVotesRequest" message="tns:printByVotes"/>
<output wsam:Action="http://canzoni/CanzoneEJB/printByVotesResponse" message="tns:printByVotesResponse"/>
</operation>
</portType>
<binding name="CanzoneEJBPortBinding" type="tns:CanzoneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aggiungiCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCanzoni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printByVotes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CanzoneEJBService">
<port name="CanzoneEJBPort" binding="tns:CanzoneEJBPortBinding">
<soap:address location="http://localhost:8080/CanzoneEJBService/CanzoneEJB"/>
</port>
</service>
</definitions>