Immobile/ImmobileWebClient/xml-resources/web-service-references/ImmobileEJB/wsdl/localhost_8080/ImmobileEJBService/ImmobileEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://immobile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://immobile/" name="ImmobileEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://immobile/" schemaLocation="http://localhost:8080/ImmobileEJBService/ImmobileEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getVenditaDueMesi">
<part name="parameters" element="tns:getVenditaDueMesi"/>
</message>
<message name="getVenditaDueMesiResponse">
<part name="parameters" element="tns:getVenditaDueMesiResponse"/>
</message>
<message name="aggiungiImmobile">
<part name="parameters" element="tns:aggiungiImmobile"/>
</message>
<message name="aggiungiImmobileResponse">
<part name="parameters" element="tns:aggiungiImmobileResponse"/>
</message>
<message name="modificaImmobile">
<part name="parameters" element="tns:modificaImmobile"/>
</message>
<message name="modificaImmobileResponse">
<part name="parameters" element="tns:modificaImmobileResponse"/>
</message>
<message name="getByStato">
<part name="parameters" element="tns:getByStato"/>
</message>
<message name="getByStatoResponse">
<part name="parameters" element="tns:getByStatoResponse"/>
</message>
<message name="getByIndirizzo">
<part name="parameters" element="tns:getByIndirizzo"/>
</message>
<message name="getByIndirizzoResponse">
<part name="parameters" element="tns:getByIndirizzoResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="getImmobili">
<part name="parameters" element="tns:getImmobili"/>
</message>
<message name="getImmobiliResponse">
<part name="parameters" element="tns:getImmobiliResponse"/>
</message>
<message name="eliminaImmobile">
<part name="parameters" element="tns:eliminaImmobile"/>
</message>
<message name="eliminaImmobileResponse">
<part name="parameters" element="tns:eliminaImmobileResponse"/>
</message>
<portType name="ImmobileEJB">
<operation name="getVenditaDueMesi">
<input wsam:Action="http://immobile/ImmobileEJB/getVenditaDueMesiRequest" message="tns:getVenditaDueMesi"/>
<output wsam:Action="http://immobile/ImmobileEJB/getVenditaDueMesiResponse" message="tns:getVenditaDueMesiResponse"/>
</operation>
<operation name="aggiungiImmobile">
<input wsam:Action="http://immobile/ImmobileEJB/aggiungiImmobileRequest" message="tns:aggiungiImmobile"/>
<output wsam:Action="http://immobile/ImmobileEJB/aggiungiImmobileResponse" message="tns:aggiungiImmobileResponse"/>
</operation>
<operation name="modificaImmobile">
<input wsam:Action="http://immobile/ImmobileEJB/modificaImmobileRequest" message="tns:modificaImmobile"/>
<output wsam:Action="http://immobile/ImmobileEJB/modificaImmobileResponse" message="tns:modificaImmobileResponse"/>
</operation>
<operation name="getByStato">
<input wsam:Action="http://immobile/ImmobileEJB/getByStatoRequest" message="tns:getByStato"/>
<output wsam:Action="http://immobile/ImmobileEJB/getByStatoResponse" message="tns:getByStatoResponse"/>
</operation>
<operation name="getByIndirizzo">
<input wsam:Action="http://immobile/ImmobileEJB/getByIndirizzoRequest" message="tns:getByIndirizzo"/>
<output wsam:Action="http://immobile/ImmobileEJB/getByIndirizzoResponse" message="tns:getByIndirizzoResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://immobile/ImmobileEJB/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://immobile/ImmobileEJB/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="getImmobili">
<input wsam:Action="http://immobile/ImmobileEJB/getImmobiliRequest" message="tns:getImmobili"/>
<output wsam:Action="http://immobile/ImmobileEJB/getImmobiliResponse" message="tns:getImmobiliResponse"/>
</operation>
<operation name="eliminaImmobile">
<input wsam:Action="http://immobile/ImmobileEJB/eliminaImmobileRequest" message="tns:eliminaImmobile"/>
<output wsam:Action="http://immobile/ImmobileEJB/eliminaImmobileResponse" message="tns:eliminaImmobileResponse"/>
</operation>
</portType>
<binding name="ImmobileEJBPortBinding" type="tns:ImmobileEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVenditaDueMesi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiImmobile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaImmobile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByStato">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByIndirizzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImmobili">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaImmobile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImmobileEJBService">
<port name="ImmobileEJBPort" binding="tns:ImmobileEJBPortBinding">
<soap:address location="http://localhost:8080/ImmobileEJBService/ImmobileEJB"/>
</port>
</service>
</definitions>