Birra/BirraWebClient/xml-resources/web-service-references/NegozioEJB/wsdl/localhost_8080/NegozioEJBService/NegozioEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://birra/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://birra/">

<xs:element name="aggiungiNegozio" type="tns:aggiungiNegozio"/>

<xs:element name="aggiungiNegozioResponse" type="tns:aggiungiNegozioResponse"/>

<xs:element name="cercaPerId" type="tns:cercaPerId"/>

<xs:element name="cercaPerIdResponse" type="tns:cercaPerIdResponse"/>

<xs:element name="eliminaNegozio" type="tns:eliminaNegozio"/>

<xs:element name="eliminaNegozioResponse" type="tns:eliminaNegozioResponse"/>

<xs:element name="getAlcolici" type="tns:getAlcolici"/>

<xs:element name="getAlcoliciResponse" type="tns:getAlcoliciResponse"/>

<xs:element name="getByRegione" type="tns:getByRegione"/>

<xs:element name="getByRegioneResponse" type="tns:getByRegioneResponse"/>

<xs:element name="getNeogzi" type="tns:getNeogzi"/>

<xs:element name="getNeogziResponse" type="tns:getNeogziResponse"/>

<xs:element name="modificaNegozio" type="tns:modificaNegozio"/>

<xs:element name="modificaNegozioResponse" type="tns:modificaNegozioResponse"/>

<xs:element name="updateDirector" type="tns:updateDirector"/>

<xs:element name="updateDirectorResponse" type="tns:updateDirectorResponse"/>

<xs:complexType name="modificaNegozio">
<xs:sequence>
<xs:element name="arg0" type="tns:negozio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="negozio">
<xs:sequence>
<xs:element name="birreAlcoliche" type="xs:int"/>
<xs:element name="birreAnalcoliche" type="xs:int"/>
<xs:element name="citta" type="xs:string" minOccurs="0"/>
<xs:element name="direttore" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="provincia" type="xs:string" minOccurs="0"/>
<xs:element name="regione" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaNegozioResponse">
<xs:sequence>
<xs:element name="return" type="tns:negozio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiNegozio">
<xs:sequence>
<xs:element name="arg0" type="tns:negozio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiNegozioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getByRegione">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getByRegioneResponse">
<xs:sequence>
<xs:element name="return" type="tns:negozio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:negozio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlcolici">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAlcoliciResponse">
<xs:sequence>
<xs:element name="return" type="tns:negozio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNeogzi">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getNeogziResponse">
<xs:sequence>
<xs:element name="return" type="tns:negozio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDirector">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDirectorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminaNegozio">
<xs:sequence>
<xs:element name="arg0" type="tns:negozio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaNegozioResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>