Birra/BirraWebClient/xml-resources/web-service-references/NegozioEJB/wsdl/localhost_8080/NegozioEJBService/NegozioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://birra/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://birra/" name="NegozioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://birra/" schemaLocation="http://localhost:8080/NegozioEJBService/NegozioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="getAlcolici">
<part name="parameters" element="tns:getAlcolici"/>
</message>
<message name="getAlcoliciResponse">
<part name="parameters" element="tns:getAlcoliciResponse"/>
</message>
<message name="eliminaNegozio">
<part name="parameters" element="tns:eliminaNegozio"/>
</message>
<message name="eliminaNegozioResponse">
<part name="parameters" element="tns:eliminaNegozioResponse"/>
</message>
<message name="getByRegione">
<part name="parameters" element="tns:getByRegione"/>
</message>
<message name="getByRegioneResponse">
<part name="parameters" element="tns:getByRegioneResponse"/>
</message>
<message name="aggiungiNegozio">
<part name="parameters" element="tns:aggiungiNegozio"/>
</message>
<message name="aggiungiNegozioResponse">
<part name="parameters" element="tns:aggiungiNegozioResponse"/>
</message>
<message name="modificaNegozio">
<part name="parameters" element="tns:modificaNegozio"/>
</message>
<message name="modificaNegozioResponse">
<part name="parameters" element="tns:modificaNegozioResponse"/>
</message>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="getNeogzi">
<part name="parameters" element="tns:getNeogzi"/>
</message>
<message name="getNeogziResponse">
<part name="parameters" element="tns:getNeogziResponse"/>
</message>
<message name="updateDirector">
<part name="parameters" element="tns:updateDirector"/>
</message>
<message name="updateDirectorResponse">
<part name="parameters" element="tns:updateDirectorResponse"/>
</message>
<portType name="NegozioEJB">
<operation name="getAlcolici">
<input wsam:Action="http://birra/NegozioEJB/getAlcoliciRequest" message="tns:getAlcolici"/>
<output wsam:Action="http://birra/NegozioEJB/getAlcoliciResponse" message="tns:getAlcoliciResponse"/>
</operation>
<operation name="eliminaNegozio">
<input wsam:Action="http://birra/NegozioEJB/eliminaNegozioRequest" message="tns:eliminaNegozio"/>
<output wsam:Action="http://birra/NegozioEJB/eliminaNegozioResponse" message="tns:eliminaNegozioResponse"/>
</operation>
<operation name="getByRegione">
<input wsam:Action="http://birra/NegozioEJB/getByRegioneRequest" message="tns:getByRegione"/>
<output wsam:Action="http://birra/NegozioEJB/getByRegioneResponse" message="tns:getByRegioneResponse"/>
</operation>
<operation name="aggiungiNegozio">
<input wsam:Action="http://birra/NegozioEJB/aggiungiNegozioRequest" message="tns:aggiungiNegozio"/>
<output wsam:Action="http://birra/NegozioEJB/aggiungiNegozioResponse" message="tns:aggiungiNegozioResponse"/>
</operation>
<operation name="modificaNegozio">
<input wsam:Action="http://birra/NegozioEJB/modificaNegozioRequest" message="tns:modificaNegozio"/>
<output wsam:Action="http://birra/NegozioEJB/modificaNegozioResponse" message="tns:modificaNegozioResponse"/>
</operation>
<operation name="cercaPerId">
<input wsam:Action="http://birra/NegozioEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://birra/NegozioEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="getNeogzi">
<input wsam:Action="http://birra/NegozioEJB/getNeogziRequest" message="tns:getNeogzi"/>
<output wsam:Action="http://birra/NegozioEJB/getNeogziResponse" message="tns:getNeogziResponse"/>
</operation>
<operation name="updateDirector">
<input wsam:Action="http://birra/NegozioEJB/updateDirectorRequest" message="tns:updateDirector"/>
<output wsam:Action="http://birra/NegozioEJB/updateDirectorResponse" message="tns:updateDirectorResponse"/>
</operation>
</portType>
<binding name="NegozioEJBPortBinding" type="tns:NegozioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAlcolici">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getByRegione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaNegozio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNeogzi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateDirector">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NegozioEJBService">
<port name="NegozioEJBPort" binding="tns:NegozioEJBPortBinding">
<soap:address location="http://localhost:8080/NegozioEJBService/NegozioEJB"/>
</port>
</service>
</definitions>